services:
  jupyter:
    build: 
      context: ./jupyter
      dockerfile: Dockerfile
    user: root
    container_name: jupyterlab_container
    ports:
      - "8888:8888"
    volumes:
      - ./:/home/jovyan/work
    environment:
      JUPYTER_ENABLE_LAB: "yes"
    command: start-notebook.sh --NotebookApp.token=''
    restart: unless-stopped

  mlflow:
    build:
      context: ./mlflow
      dockerfile: Dockerfile
    container_name: mlflow_container
    ports:
      - "5000:5000"
    volumes:
      - ./:/mlflow/mlruns
    # environment:
    #    MLFLOW_PROJECT_ENV_MANAGER: local
    #    GIT_PYTHON_REFRESH: quiet
#      MLFLOW_TRACKING_URI: "http://
    command: mlflow server --host 0.0.0.0 --port 5000
