services:
  jupyter:
    build: 
      context: ./jupyter
      dockerfile: Dockerfile
    container_name: jupyterlab_container
    ports:
      - "8888:8888"
    volumes:
      - ./:/home/jovyan/work
    environment:
      JUPYTER_ENABLE_LAB: "yes"
      WANDB_API_KEY: "${WANDB_API_KEY:-}"
      WANDB_MODE: "${WANDB_MODE:-online}"
      WANDB_DIR: "/home/jovyan/work/.wandb"
    command: start-notebook.sh --NotebookApp.token=''
    restart: unless-stopped

  mlflow:
    build:
      context: ./mlflow
      dockerfile: Dockerfile
    container_name: mlflow_container
    ports:
      - "5000:5000"
    volumes:
      - ./mlruns:/mlflow/mlruns
    command: mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri sqlite:////mlflow/mlruns/mlflow.db --default-artifact-root /mlflow/mlruns/artifacts
